<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="nz.auckland.arch.viewpoint.Activator"
               id="nz.auckland.arch.viewpoint"
	       name="viewpoint">
    </component>
  </extension>
</plugin>
